{
    "parserOptions": {
        "emcaVersion": "latest",
    },
    "env": {
        "shared-node-browser": true
    },
    "rules": {
        "no-console": true,
        "require-atomic-updates": true,
        "semi": true
    }
}